/* .Division{
   float: left;
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    margin-left: 10px;
} */

.no-gutters {
  margin-right: 15;
  margin-left: 15;

  > .col,
  > [class*="col-"] {
    padding-right: 10;
    padding-left: 10;
  }
}

img {
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */
    max-width: 95%;
    width: 95%;
}
